# This is Git's per-user configuration file.
[user]
	name = Andrew Weiss
	email = wvvwwvw@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = $HOME/.gitignore_global
[alias]
  last = diff HEAD^
  la   = "!git config -l | grep alias | cut -c 7-"
  s    = status -s
  cp   = cherry-pick
  b    = branch
  co   = checkout
  acom = commit --amend
  ll   = log --format='format:%Cblue(%ar) %Cred%h %Creset%s' --date=short -n 10
  lld  = log --format='format:%Cblue(%ad) %Cred%h %Creset%s' --date=short
  cb   = "!git rev-parse --abbrev-ref HEAD"
  pushthis = "!git push origin $(git cb):$(git cb)"
  lf = diff-tree --no-commit-id --name-only -r HEAD
  files = diff-tree --no-commit-id --name-only -r
  repull = pull --rebase
  staged = diff --staged
